<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tutorials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tutorial.css') }}">
</head>


<body>
    <div class = "header">
        <h2>VP16i-finder</h2>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/upload">Upload</a>
            <a href="/tutorial">Tutorials</a>
            <a href="/contact">Contact</a>
            <a class = "active" href="/faq">FAQ</a>
        </div>
    </div>
    <hr>

    <div class = "content">
        <h2>frequently asked questions</h3>
        
        <section class="single">
          
        </section>
    </div>

</body>

</html>