<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_index.css') }}">
    <title>VP16i-predictor</title>
</head>

<body>
    <div class = "header">
        <h2>VP16i-finder</h2>

        <div class="topnav">
            <a class = "active" href="/">Home</a>
            <a href="/upload">Upload</a>
            <a href="/tutorial">Tutorials</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <hr>

    <div class = "links">
        <section class="content">
            <p> VP16i-Finder is a web-based tool designed to identify potential inhibitors of VP16, a transcriptional activator involved in gene expression regulation. Utilizing advanced machine learning techniques, the platform enables the prediction of small molecules that may have inhibitory effects on VP16 activity. The web application empowers users to input chemical compounds and receive predictions regarding their inhibitory potential against VP16. The accuracy and reliability of the predictive models are showcased through evaluation metrics such as area under the curve (AUC), F1 scores, and overall accuracy. VP16i-Finder serves as an assist tool for researchers and scientists working in the field of gene expression modulation and drug discovery, aiding in the identification of potential compounds for further investigation.</p>
    
            <p>Click here to <a href="/upload" class="cta-button">upload Data</a></p>
            <p>Click here to <a href="/tutorials" class="cta-button">learn more</a></p>
        </section>
    </div>

</body>
</html>

