<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_index.css') }}">
    <title>Herpes-finder</title>
</head>

<body>
    <div class = "header">
        <h2>Herpes-finder</h2>

        <div class="topnav">
            <a class = "active" href="/">Home</a>
            <a href="/upload">Upload</a>
            <a href="/tutorial">Tutorials</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
        </div>
    </div>
    <hr>

    <div class = "links">
        <section class="content">
            <p>Herpes-finder is a web-based platform designed for predicting the inhibitory activity of chemical compounds against viral protein 16 (VP16), a key target in Herpes Simplex virus (HSV) research. This server uses three pre-trained models (i.e., support vector, random forest, and gradient boost classifier) to predict the inhibitory activity of compounds against HSV. The model was trained on 1398 compounds that consisted of their bioactivity against VP16 with a prediction area under the curve(AUC) of 0.85</p>    
            <p>Click here to <a href="/upload" class="cta-button">upload Data</a></p>
            <p>Click here to <a href="/tutorials" class="cta-button">learn more</a></p>
        </section>
    </div>

</body>
</html>

