<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tutorials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tutorial.css') }}">
</head>


<body>
    <div class = "header">
        <h2>VP16i-finder</h2>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/upload">Upload</a>
            <a class = "active" href="/tutorial">Tutorials</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <hr>

    <div class = "content">
        <h2>Getting started with VP16i-finder</h3>
        
        <section class="single">
            <h3>Prediction of single molecule</h4>
            <p><span class="bold">Step 1:</span> go to upload page</p>
            <hr>
            <img src="../static/tutorial_images/1. Upload_button.png" alt="Upload_button"></img>
            <p><span class="bold">Step 2:</span> enter your canonical smile into the text box</p>
            <hr>
            <img src="../static/tutorial_images/2. Input_smile.png" alt="canonical smile textbox"/>
            <p><span class="bold">Step 3:</span>  select your model to use and click on submit button</p>
            <hr>
            <img src="../static/tutorial_images/3. select_model.png" alt="canonical smile textbox"/>
            <p><span class="bold">Step 4:</span>  Result</p>
            <hr>
            <img src="../static/tutorial_images/4. results.png" alt="canonical smile textbox"/>
        </section>
        <section class="csv">
            <h3>For prediction of list of molecules</h4>
            <p>Note: the uploaded document should strictly be csv which contains only your smiles. There should be no headers in your csv file. <span>Use the example.csv file provided as reference</span></p>
            <p><span class="bold">Step 1:</span> Click on upload, and select your csv file from the popup</p>
            <hr>
            <img src="../static/tutorial_images/1. csv_choosefile.png" alt="choosefile box"></img>
            <p><span class="bold">Step 2:</span> Repeat step 3 for single compound prediction but in the above block</p>
            <hr>
            <p><span class="bold">Step 3:</span>  Results</p>
            <hr>
            <img src="../static/tutorial_images/3. csv_results.png" alt="csv_result"></img>
        </section>
    </div>

</body>

</html>